<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

</head>

<body>

<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<h2>Message : <span th:utext="${message}"></span></h2>
<h3>Token: </h3>
<p id="token"></p>
<script>
    $("#token").text($.cookie("TRANSPORT-JWT"));
</script>

</body>
</html>